<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= folder.title %></title>
  </head>
  <body>
    <h1><%= folder.title %></h1>
    <form action="/folders/<%=folder.id%>/update" method="post">
      <label for="title">Rename: </label>
      <input
        type="text"
        name="title"
        id="title"
        minlength="1"
        maxlength="10"
        placeholder="Folder 1 New"
        required
      />
      <button type="submit">Submit</button>
    </form>
    <form action="/folders/<%= folder.id%>/delete" method="post">
      <button type="submit">Delete Folder</button>
    </form>
    <% if(folder.File) {%> <% folder.File.forEach(file => {%>
    <div class="file">
      <ul>
        <li>Id: <%= file.id %></li>
        <li><a href="<%=file.fileUrl%>" target="_blank">View Image</a></li>
      </ul>
    </div>
    <%})%> <%}%>
  </body>
</html>
