<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <% if (currentUser) { %>
    <h1>Welcome Back <%= currentUser.username %></h1>
    <a href="/file/new">Upload File</a>
    <form action="/folders/new" method="post">
      <label for="title">New Folder Name: </label>
      <input type="text" name="title" id="title" placeholder="Folder 1" />
      <button type="submit">Submit</button>
    </form>
    <% if (folders) {%> <% folders.forEach(folder => { %>
    <p><%= folder.title %></p>
    <form action="/folders/<%=folder.id%>/update" method="post">
      <label for="title">New Name: </label>
      <input type="text" name="title" id="title" />
      <button type="submit">Submit</button>
    </form>
    <form action="/folders/<%= folder.id%>/delete" method="post">
      <button type="submit">Delete</button>
    </form>
    <%});%> <%if (files) {%> <% files.forEach(file => {%>
    <p><%= file.originalname %></p>
    <a href="/file/<%= file.filename %>/download">Download</a>
    <%})%> <%}%> <%}%>
    <a href="/log-out">LOG OUT</a>
    <%} else {%>
    <h1>Please Login</h1>
    <form action="/log-in" method="post">
      <label for="username">Username: </label>
      <input type="text" name="username" id="username" placeholder="username" />
      <label for="password">Password: </label>
      <input type="password" name="password" id="password" />
      <button type="submit">Login</button>
    </form>
    <a href="/sign-up">Sign Up</a>
    <% } %>
  </body>
</html>
